# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django stuff:
db.sqlite3
/media/
static/
staticfiles/

# Environment variables:
.env

# Virtual environments:
venv/
env/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.idea/
.vscode/
