{% extends 'base.html' %}
{% load plotly_dash %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
<div class="grid grid-cols-10 gap-6 p-4 bg-gray-50 min-h-screen">
    <div class="col-span-10 md:col-span-3 bg-sky-100 p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-bold text-gray-900 mb-4">Low Stock Notifications</h2>
        <ul role="list" class="divide-y divide-gray-200">
            {% if low %}
                {% for c in low %}
                <li class="flex justify-between gap-x-6 py-5">
                    <div>
                        <p class="text-sm font-semibold">{{ c.name }}</p>
                        <p class="text-xs">Current Stock: {{ c.currentStock }}</p>
                        <p class="text-xs">Safety Stock: {{ c.safeStock }}</p>
                    </div>
                    <p class="text-xs text-red-500">Needs replenishment!</p>
                </li>
                {% endfor %}
            {% else %}
                <li class="py-5">All components are sufficiently stocked.</li>
            {% endif %}
        </ul>
    </div>

    <div class="col-span-10 md:col-span-7 bg-white p-4 rounded-lg shadow-md">
        <h2 class="text-lg font-bold text-gray-900 mb-4">Usage Prediction</h2>
        {% plotly_app name="dashboard" %}
    </div>
</div>
<script src="{% static 'js/plotly.min.js' %}"></script>
{% endblock %}
